/* CSS RESET - do not remove */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: lighter;
  }
  /*  Set the font */
  body {
    font-family: "Helvetica", sans-serif;
  }
  /* STYLES */
.title-apple-pie {
    background-image: url(apple-pie.jpg);
    height: 1200px;
    background-position: 0 0; 
    background-repeat: no-repeat;
    background-size: cover; }
    .title {
    font-size: 150px;
    text-align: center;
    position: absolute; 
    top: 50%;
    left: 32%;
    color: white;
   }
   .undertext {
    font-size: 30px;
    text-align: center;
    margin: 150px;
   }
   .pic1 {
    background-image: url(recipe-info.png);
    background-position: center; 
    background-repeat: no-repeat;
    height: 100px;  
   }
   .recipe1 {
    text-align: left;
    margin-left: 12%;
    list-style-type: none;
   }
  .textmenu {
    font-size: 50px;
    margin: 150px;
   }
   .menu {
    font-size: 30px;
    text-align: center;
   }
   .pic2 {
    background-image: url(cooking-info.png);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;  
    margin-bottom: 30px;
   }
   .end {
    font-size: 30px;
    text-align: center;
    margin-left: 12%;
    border-radius: 50px;
    list-style-type: none;
   }
  .footend {
    font-size: 50px;
    margin-left: 12%;
   }














